{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hello World</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'mehtabsite/css/bootstrap.min.css' %}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{% static 'mehtabsite/css/font-awesome.min.css' %}">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="{% static 'mehtabsite/css/elegant-fonts.css' %}">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="{% static 'mehtabsite/css/themify-icons.css' %}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'mehtabsite/css/swiper.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'mehtabsite/style.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'mehtabsite/css/custom.css' %}">
</head>

<body class="body-page">
    <div class="page-header">
        <header>
            <div class="top-header-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-6 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                            <div class="header-bar-email d-flex align-items-center">
                                <i class="fa fa-envelope"></i>
                                <a href="#">tuanna.design@gmail.com</a>
                            </div>
                            <!-- .header-bar-email -->

                            <div class="header-bar-text lg-flex align-items-center">
                                <p>
                                    <i class="fa fa-phone"></i>001-1234-88888 </p>
                            </div>
                            <!-- .header-bar-text -->
                        </div>
                        <!-- .col -->

                        <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                            <div class="header-bar-search">
                                <form class="flex align-items-stretch">
                                    <input type="search" placeholder="What would you like to learn?">
                                    <button type="submit" value="" class="flex justify-content-center align-items-center">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                            <!-- .header-bar-search -->

                            <div class="header-bar-menu">
                                <ul class="flex justify-content-center align-items-center py-2 pt-md-0">
                                    <li>
                                        <a href="#">Register</a>
                                    </li>
                                    <li>
                                        <a href="#">Login</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- .header-bar-menu -->
                        </div>
                        <!-- .col -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- .container-fluid -->
            </div>
            <!-- .top-header-bar -->

            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
                <div class="container">
                    <a class="navbar-brand" href="#">Start Bootstrap</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>
    </div>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Bootstrap Tutorial</h1>
            <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on
                the web.</p>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div id="exTab1">
            <div class="row">
                <div class="col-md-2 col-lg-2 topicBorder">
                    <ul class="nav nav-pills ">
                        <li class="active ">
                            <a href="#1a"  font-size: 5px; class="btn-lg btn-block" data-toggle="tab">Overview</a>
                        </li>
                        <li>
                            <a href="#2a" class="btn-lg btn-block" data-toggle="tab">Using nav-pills</a>
                        </li>
                        <li>
                            <a href="#3a" class="btn-lg btn-block" data-toggle="tab">Applying clearfix</a>
                        </li>
                        <li>
                            <a href="#4a" class="btn-lg btn-block" data-toggle="tab">Background color</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-8 col-lg-8">
                    <div class="tab-content clearfix verticalLine">
                        <div class="tab-pane active showContentData" id="1a">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, debitis ut amet nam consequuntur iusto quibusdam sint veniam cupiditate animi doloremque in minus asperiores impedit reiciendis quod, soluta quo. Aperiam.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet corrupti neque cumque quos, qui dolorem laborum officia saepe, cum debitis blanditiis similique deserunt voluptates ipsam, fugit odio quisquam assumenda 
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, illo tenetur voluptas nemo laboriosam ex atque ullam voluptates praesentium iusto tempore quam consequatur illum nihil omnis quas deleniti odio sed.
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id accusamus, modi dolorum neque, quae ex dicta, ipsa aliquam obcaecati earum debitis eum tempore illum recusandae voluptatibus. Totam sapiente corrupti obcaecati?
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam cupiditate quas est quasi, minus iure aspernatur vero voluptatibus corporis. Sit exercitationem praesentium mollitia adipisci quisquam doloremque corporis veniam nesciunt! Est!
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, eligendi? Pariatur id fugiat harum aut hic. Vitae delectus vero optio, quasi a id soluta, nulla veritatis, provident incidunt officia recusandae!
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo vel voluptatibus obcaecati voluptatum repellat ipsum? Quam nam ducimus temporibus earum aliquid tempore? At unde, atque nobis repellendus nemo laborum magnam!
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius expedita laborum veritatis minus aut eligendi iste reiciendis aliquam, quisquam suscipit autem alias obcaecati, earum repudiandae cumque perspiciatis saepe at maiores.
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis architecto temporibus cumque labore veniam dignissimos, eum nulla aspernatur! Atque voluptas quis officiis enim pariatur vitae ex laudantium reprehenderit et consequatur?
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo neque pariatur esse, eligendi totam adipisci! Aliquid hic optio rem in aperiam maiores, accusamus iste laudantium pariatur numquam suscipit voluptas doloribus?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maiores modi quo exercitationem unde excepturi cupiditate vitae dicta nostrum ut magni, sunt itaque nisi consequatur totam laudantium optio doloribus repellendus.
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa minus reprehenderit ex impedit, nisi temporibus id dolor magnam quisquam officiis quia saepe numquam minima praesentium cupiditate amet blanditiis sapiente odio?
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ratione esse aspernatur error blanditiis neque suscipit distinctio ipsam rem, sequi cupiditate dolore optio inventore quo minus ducimus dolor fuga iusto?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ratione, necessitatibus rem omnis dolor dolorum minus ipsa quaerat nemo recusandae natus culpa repellendus nam, debitis, molestiae dolores veniam. Ipsam, aperiam!
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nisi eaque quis, magni suscipit quae reprehenderit molestiae quod quam vitae aliquid, similique illum beatae. Modi fugiat quam sit cupiditate ipsa?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, error nobis. Architecto quasi nulla praesentium suscipit tenetur totam dolorem alias consectetur. Incidunt vero magni totam atque minus? Architecto, sed expedita.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci optio animi enim mollitia fugiat, sunt at voluptatem labore nisi aut cumque excepturi iure sapiente omnis vitae culpa officia ut.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam enim libero totam sequi sint repudiandae officia aperiam non delectus! Sunt culpa quos odio minima mollitia corrupti dicta vel itaque expedita.
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione culpa magni qui tempore nesciunt libero omnis enim amet obcaecati officia, cumque ea aliquam quibusdam accusantium fugiat a, quo tenetur sequi!
                                
                            </h4>
                        </div>
                        <div class="tab-pane" id="2a">
                                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, debitis ut amet nam consequuntur iusto quibusdam sint veniam cupiditate animi doloremque in minus asperiores impedit reiciendis quod, soluta quo. Aperiam.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet corrupti neque cumque quos, qui dolorem laborum officia saepe, cum debitis blanditiis similique deserunt voluptates ipsam, fugit odio quisquam assumenda 
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, illo tenetur voluptas nemo laboriosam ex atque ullam voluptates praesentium iusto tempore quam consequatur illum nihil omnis quas deleniti odio sed.
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id accusamus, modi dolorum neque, quae ex dicta, ipsa aliquam obcaecati earum debitis eum tempore illum recusandae voluptatibus. Totam sapiente corrupti obcaecati?
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam cupiditate quas est quasi, minus iure aspernatur vero voluptatibus corporis. Sit exercitationem praesentium mollitia adipisci quisquam doloremque corporis veniam nesciunt! Est!
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, eligendi? Pariatur id fugiat harum aut hic. Vitae delectus vero optio, quasi a id soluta, nulla veritatis, provident incidunt officia recusandae!
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo vel voluptatibus obcaecati voluptatum repellat ipsum? Quam nam ducimus temporibus earum aliquid tempore? At unde, atque nobis repellendus nemo laborum magnam!
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius expedita laborum veritatis minus aut eligendi iste reiciendis aliquam, quisquam suscipit autem alias obcaecati, earum repudiandae cumque perspiciatis saepe at maiores.
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis architecto temporibus cumque labore veniam dignissimos, eum nulla aspernatur! Atque voluptas quis officiis enim pariatur vitae ex laudantium reprehenderit et consequatur?
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo neque pariatur esse, eligendi totam adipisci! Aliquid hic optio rem in aperiam maiores, accusamus iste laudantium pariatur numquam suscipit voluptas doloribus?
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maiores modi quo exercitationem unde excepturi cupiditate vitae dicta nostrum ut magni, sunt itaque nisi consequatur totam laudantium optio doloribus repellendus.
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa minus reprehenderit ex impedit, nisi temporibus id dolor magnam quisquam officiis quia saepe numquam minima praesentium cupiditate amet blanditiis sapiente odio?
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ratione esse aspernatur error blanditiis neque suscipit distinctio ipsam rem, sequi cupiditate dolore optio inventore quo minus ducimus dolor fuga iusto?
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ratione, necessitatibus rem omnis dolor dolorum minus ipsa quaerat nemo recusandae natus culpa repellendus nam, debitis, molestiae dolores veniam. Ipsam, aperiam!
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nisi eaque quis, magni suscipit quae reprehenderit molestiae quod quam vitae aliquid, similique illum beatae. Modi fugiat quam sit cupiditate ipsa?
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, error nobis. Architecto quasi nulla praesentium suscipit tenetur totam dolorem alias consectetur. Incidunt vero magni totam atque minus? Architecto, sed expedita.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci optio animi enim mollitia fugiat, sunt at voluptatem labore nisi aut cumque excepturi iure sapiente omnis vitae culpa officia ut.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam enim libero totam sequi sint repudiandae officia aperiam non delectus! Sunt culpa quos odio minima mollitia corrupti dicta vel itaque expedita.
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione culpa magni qui tempore nesciunt libero omnis enim amet obcaecati officia, cumque ea aliquam quibusdam accusantium fugiat a, quo tenetur sequi!
                                        
                                    </h4>
                        </div>
                        <div class="tab-pane" id="3a">
                                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, debitis ut amet nam consequuntur iusto quibusdam sint veniam cupiditate animi doloremque in minus asperiores impedit reiciendis quod, soluta quo. Aperiam.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet corrupti neque cumque quos, qui dolorem laborum officia saepe, cum debitis blanditiis similique deserunt voluptates ipsam, fugit odio quisquam assumenda 
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, illo tenetur voluptas nemo laboriosam ex atque ullam voluptates praesentium iusto tempore quam consequatur illum nihil omnis quas deleniti odio sed.
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id accusamus, modi dolorum neque, quae ex dicta, ipsa aliquam obcaecati earum debitis eum tempore illum recusandae voluptatibus. Totam sapiente corrupti obcaecati?
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam cupiditate quas est quasi, minus iure aspernatur vero voluptatibus corporis. Sit exercitationem praesentium mollitia adipisci quisquam doloremque corporis veniam nesciunt! Est!
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, eligendi? Pariatur id fugiat harum aut hic. Vitae delectus vero optio, quasi a id soluta, nulla veritatis, provident incidunt officia recusandae!
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo vel voluptatibus obcaecati voluptatum repellat ipsum? Quam nam ducimus temporibus earum aliquid tempore? At unde, atque nobis repellendus nemo laborum magnam!
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius expedita laborum veritatis minus aut eligendi iste reiciendis aliquam, quisquam suscipit autem alias obcaecati, earum repudiandae cumque perspiciatis saepe at maiores.
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis architecto temporibus cumque labore veniam dignissimos, eum nulla aspernatur! Atque voluptas quis officiis enim pariatur vitae ex laudantium reprehenderit et consequatur?
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo neque pariatur esse, eligendi totam adipisci! Aliquid hic optio rem in aperiam maiores, accusamus iste laudantium pariatur numquam suscipit voluptas doloribus?
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maiores modi quo exercitationem unde excepturi cupiditate vitae dicta nostrum ut magni, sunt itaque nisi consequatur totam laudantium optio doloribus repellendus.
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa minus reprehenderit ex impedit, nisi temporibus id dolor magnam quisquam officiis quia saepe numquam minima praesentium cupiditate amet blanditiis sapiente odio?
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ratione esse aspernatur error blanditiis neque suscipit distinctio ipsam rem, sequi cupiditate dolore optio inventore quo minus ducimus dolor fuga iusto?
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ratione, necessitatibus rem omnis dolor dolorum minus ipsa quaerat nemo recusandae natus culpa repellendus nam, debitis, molestiae dolores veniam. Ipsam, aperiam!
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nisi eaque quis, magni suscipit quae reprehenderit molestiae quod quam vitae aliquid, similique illum beatae. Modi fugiat quam sit cupiditate ipsa?
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, error nobis. Architecto quasi nulla praesentium suscipit tenetur totam dolorem alias consectetur. Incidunt vero magni totam atque minus? Architecto, sed expedita.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci optio animi enim mollitia fugiat, sunt at voluptatem labore nisi aut cumque excepturi iure sapiente omnis vitae culpa officia ut.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam enim libero totam sequi sint repudiandae officia aperiam non delectus! Sunt culpa quos odio minima mollitia corrupti dicta vel itaque expedita.
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione culpa magni qui tempore nesciunt libero omnis enim amet obcaecati officia, cumque ea aliquam quibusdam accusantium fugiat a, quo tenetur sequi!
                                        
                                    </h4>
                        </div>
                        <div class="tab-pane" id="4a">
                                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, debitis ut amet nam consequuntur iusto quibusdam sint veniam cupiditate animi doloremque in minus asperiores impedit reiciendis quod, soluta quo. Aperiam.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet corrupti neque cumque quos, qui dolorem laborum officia saepe, cum debitis blanditiis similique deserunt voluptates ipsam, fugit odio quisquam assumenda 
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, illo tenetur voluptas nemo laboriosam ex atque ullam voluptates praesentium iusto tempore quam consequatur illum nihil omnis quas deleniti odio sed.
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id accusamus, modi dolorum neque, quae ex dicta, ipsa aliquam obcaecati earum debitis eum tempore illum recusandae voluptatibus. Totam sapiente corrupti obcaecati?
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam cupiditate quas est quasi, minus iure aspernatur vero voluptatibus corporis. Sit exercitationem praesentium mollitia adipisci quisquam doloremque corporis veniam nesciunt! Est!
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, eligendi? Pariatur id fugiat harum aut hic. Vitae delectus vero optio, quasi a id soluta, nulla veritatis, provident incidunt officia recusandae!
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo vel voluptatibus obcaecati voluptatum repellat ipsum? Quam nam ducimus temporibus earum aliquid tempore? At unde, atque nobis repellendus nemo laborum magnam!
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius expedita laborum veritatis minus aut eligendi iste reiciendis aliquam, quisquam suscipit autem alias obcaecati, earum repudiandae cumque perspiciatis saepe at maiores.
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis architecto temporibus cumque labore veniam dignissimos, eum nulla aspernatur! Atque voluptas quis officiis enim pariatur vitae ex laudantium reprehenderit et consequatur?
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo neque pariatur esse, eligendi totam adipisci! Aliquid hic optio rem in aperiam maiores, accusamus iste laudantium pariatur numquam suscipit voluptas doloribus?
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maiores modi quo exercitationem unde excepturi cupiditate vitae dicta nostrum ut magni, sunt itaque nisi consequatur totam laudantium optio doloribus repellendus.
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa minus reprehenderit ex impedit, nisi temporibus id dolor magnam quisquam officiis quia saepe numquam minima praesentium cupiditate amet blanditiis sapiente odio?
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ratione esse aspernatur error blanditiis neque suscipit distinctio ipsam rem, sequi cupiditate dolore optio inventore quo minus ducimus dolor fuga iusto?
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ratione, necessitatibus rem omnis dolor dolorum minus ipsa quaerat nemo recusandae natus culpa repellendus nam, debitis, molestiae dolores veniam. Ipsam, aperiam!
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nisi eaque quis, magni suscipit quae reprehenderit molestiae quod quam vitae aliquid, similique illum beatae. Modi fugiat quam sit cupiditate ipsa?
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, error nobis. Architecto quasi nulla praesentium suscipit tenetur totam dolorem alias consectetur. Incidunt vero magni totam atque minus? Architecto, sed expedita.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci optio animi enim mollitia fugiat, sunt at voluptatem labore nisi aut cumque excepturi iure sapiente omnis vitae culpa officia ut.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam enim libero totam sequi sint repudiandae officia aperiam non delectus! Sunt culpa quos odio minima mollitia corrupti dicta vel itaque expedita.
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione culpa magni qui tempore nesciunt libero omnis enim amet obcaecati officia, cumque ea aliquam quibusdam accusantium fugiat a, quo tenetur sequi!
                                        
                                    </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src="{% static 'mehtabsite/js/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'mehtabsite/js/swiper.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'mehtabsite/js/masonry.pkgd.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'mehtabsite/js/jquery.collapsible.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'mehtabsite/js/custom.js' %}"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>